<!DOCTYPE html>
<html>
    <head>

        <title>Index</title>
        <meta charset="UTF-8"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="grey lighten-3">
        <h1 class="main-title center">Bem Vindo!</h1>
        <div class="row center">
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/animal/cadastrar">
                    <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                        <i class="large material-icons">perm_identity</i>
                        <div class="truncate">Cadastrar Animal</div>
                    </div>
                </a>
            </div>
            <div class="col s12 m4 l4 waves-effect waves-light">
                <a href="/animal/listar">
                    <div class="card-panel hoverable z-depth-1 center grey lighten-4">
                        <i class="large material-icons">search</i>
                        <div class="truncate">Visualizar Animal</div>
                    </div>
                </a>
            </div>
        </div>

        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>
