<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listar servicos</title>
        <meta charset="UTF-8"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body class="grey lighten-2">
        <div id="listaDeservicos">
            <h3 class="main-title center">Lista de servicos</h3>
            <div class="container">
                <div class="row">
                    <div class="input-field col s10">
                        <input id="pesquisa" type="text" class="validate">
                    </div>
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light" type="button" onclick="filtrar()">Pesquisar</button>
                    </div>
                </div>
            </div>
            <div class="container">
                <table class="striped reponsive-table">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Nome</th>
                            <th style="text-align: center;">Descrição</th>
                            <th style="text-align: center;">Concluído</th>
                            <th style="text-align: center;">Ações</th>
                        </tr>
                    </thead>
                    <tr th:each="servico : ${servicos}">
                        <td style="text-align: center;"><span th:text="${servico.nome}"></span></td>
                        <td style="text-align: center;"><span th:text="${servico.descricao}"></span></td>
                        <td style="text-align: center;">
                            <span th:if="${servico.concluido}">
                                <i class="tiny material-icons">done</i>
                            </span>
                            <span th:unless="${servico.concluido}">
                                <i class="tiny material-icons">clear</i>
                            </span>
                        </td>
                        <td style="text-align: center;">
                            <a th:href="@{'/servico/editar/'+${servico.id}}" title="Visualizar">
                                <i class="tiny material-icons">edit</i>
                            </a>
                            <a th:href="@{'/servico/excluir/'+${servico.id}}" title="Deletar">
                                <i class="tiny material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <script type="text/javascript" src="../js/materialize.min.js"></script>
        <script type="text/javascript">
            function filtrar() {
                var input, filter, table, tr, td, i, txtValue;
                input = document.getElementById("pesquisa");
                filter = input.value.toUpperCase();
                table = document.querySelector(".reponsive-table");
                tr = table.getElementsByTagName("tr");

                for (i = 0; i < tr.length; i++) {
                    td = tr[i].getElementsByTagName("td")[0];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                        }
                    }
                }
            }
        </script>
    </body>
</html>
