<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>CADASTRO DE DISCIPLINA</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../../../css/materialize.min.css"  media="screen,projection"/>
    </head>

    <body>    
        <div id="formulario" class="container">
            <h3 class="main-title center">CADASTRAR DISCIPLINA PARA: <span th:text="${aluno.nome}"></span></h3>
            <div class="row">
                <form class="col s12" action="#" th:action="@{'/disciplina/salvar/'+${aluno.id}}" th:object="${disciplina}" method="post">
                    <div class="section">
                        <h5>DADOS DA DISCIPLINA</h5>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="nome" type="text" class="validate" th:value="${disciplina.nome}" name="nome"/>
                                <label for="nome">Nome da Disciplina</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="semestre" type="number" class="validate" th:value="${disciplina.semestre}" name="semestre"/>
                                <label for="semestre">Semestre</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="professor" type="text" class="validate" th:value="${disciplina.professor}" name="professor"/>
                                <label for="professpr">Nome do Professor</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light" type="submit" name="action">SALVAR</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--JavaScript at end of body for optimized loading-->
        <script type="text/javascript" src="../../../js/materialize.min.js"></script>
    </body>
</html>